@()

@templates.main("About"){
<!--<script>About.view()</script>-->
<div class="my-2 mx-auto p-relative bg-white shadow-1 card blue-hover">
    <div style="width:100%; text-align:center" class="top-padding">
        <img src="@routes.Application.versioned("images/bio.jpg")" alt="bio" class=" w-full" style="border-radius: 50%; width: 35%;">
    </div>
    <div class="px-2 py-2">
        <p class="mb-1 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
            MATHEMATICIAN & DATA ENTHUSIAST
        </p>
        <h1 class="ff-serif font-weight-normal text-black card-heading mb-2" style="line-height: 1.25;">
            PMBRU\\
        </h1>
        <p class="mb-1">Located in Barcelona</p>
        <p class="mb-1">Big Data Developer at <a style="text-decoration: underline;" href="https://bcntdc.zurich.com/en/about">ServiZurich</a></p>
        <div class="annotation-block mt-2">
            <a class="annotation px-2" href="https://github.com/pmbrull/"><i class="fab fa-github"></i></a>
            <a class="annotation px-2" href="www.linkedin.com/in/pere-miquel-brull-borràs"><i class="fab fa-linkedin"></i></a>
            <a class="annotation px-2" href="https://twitter.com/perembrull"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>
}