@()

@templates.main("About"){
<!--<script>About.view()</script>-->

<div class="my-2 mx-auto p-relative bg-white shadow-1 card blue-hover">
    <div style="width:100%; text-align:center" class="top-padding">
        <img src="@routes.Application.versioned("images/bio.jpg")" alt="bio" class=" w-full" style="border-radius: 50%; width: 35%;">
    </div>
    <div class="px-2 py-2">
        <p class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
            MATHEMATICIAN & DATA ENTHUSIAST
        </p>
        <h1 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
            PMBRU\\
        </h1>
        <p class="mb-1">
            
        </p>
        <dov class="annotation-block">
            <a class="annotation px-2" href=""><i class="fab fa-github"></i></a>
            <a class="annotation px-2" href=""><i class="fab fa-linkedin"></i></a>
            <a class="annotation px-2" href=""><i class="fab fa-twitter"></i></a>
        </dov>
    </div>
</div>

}