:root{
    --primary-color: #406086;
    --primary-dark: #233647;
    --primary-light: #96AFCD;
    --secondary-color: #7F95AD;
    --secondary-sLight: #BACAD9;
    --secondary-light: #6491CA;
    --secondary-dark: #394a5c;
}

#content {
  margin-top: 40px;
  width: 40%;
  margin-left: 29%;
  margin-right: 31%;
}

.narrow {
  margin-top: 40px;
  width: 40%;
  margin-left: 29%;
  margin-right: 31%;
}

.tab { margin-left: 40px; }
.top-padding { margin-top: 30px; }

h1, h2, h3 {
  font-family: 'Pathway Gothic One';
  color: var(--primary-dark);
}

h1 {
  text-align: center;
}

p {
  color: var(--secondary-dark);
}

.annotation-block {
  display: inline-block;
  padding-left: 16px;
}

.annotation-title {
  padding-left: 8px;
  font-weight: bold;
}

.annotation-content {
  padding-left: 8px;
}

.annotation {
  color: var(--secondary-color);
  display: inline-block;
}

.main-link {
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: var(--primary-dark);
}

/* visited link */
a:visited {
  color: var(--primary-dark);
}

/* mouse over link */
a:hover {
  color: var(--primary-color);
}

.btn {
  margin-left: 8px;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

code {
    display: inline-block;
    margin-left: 40px;
    width: 680px;
    border-radius: 5px;
    border: 1px solid var(--secondary-sLight);
}