@media (min-width: 992px) {
    .navbar {
        height:50px;
    }
}

.navbar {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Pathway Gothic One';
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

/* change the background color */
.navbar-custom {
    background-color: var(--primary-dark);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--secondary-sLight);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--secondary-sLight);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* .stroke * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.stroke li {
  display: inline-block;
  list-style: outside none none;
  padding: 0;
}
.stroke a {
  display: inline-block;
  padding: 0.5em 17px;
  color: #ffffff;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.stroke a:before {
  left: 20%;
  right: 20%;
  top: 50%;
  content: '';
  border-left: 12px solid #ffffff;
  border-right: 12px solid #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.stroke a:hover,
.stroke .current a {
  color: #ffffff;
}
.stroke a:hover:before,
.stroke .current a:before {
  left: 0;
  right: 0;
  opacity: 1;
}*/

.stroke a:hover::after {
    opacity: 1;
}
.stroke a.active::after {
    opacity: 1;
}
.stroke a::after {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: linear;
    content: "\203A";
    margin-left: 5px;
}
.stroke a:hover::before {
    opacity: 1;
}
.stroke a.active::before {
    opacity: 1;
}
.stroke a::before {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: linear;
    content: "\2039"; /*\2022*/
    margin-right: 5px;
}

.stroke a {
    text-decoration: none;
}
li a.active {
    color: #000;
}
a:active, a:hover {
    outline: 0;
}