@media (min-width: 992px) {
    .navbar {
        height:50px;
    }
}

.navbar {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Pathway Gothic One';
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}